<div>
	<div>
		Welcome to Gallery, <%= user.fullname %>
	</div>
	<div>
		<a href = "./new">New Gallery</a>
	</div>
	<div>
		<%= galleries.length %>
		<% for(var i = 0;i < galleries.length; i++){ %>
		<%= galleries[i].galleryName %>
		<br />
		<% } %>
	</div>
</div>