<html>
<head>
	<title>
		Home
	</title>
	<style>
	</style>
	<link href = "./application.css" type = "text/css" rel = "stylesheet" />
</head>
<body>
<div>
	<div>
		Welcome to Gallery, <%= user.fullname %>
	</div>
	<div>
		<a href = "./new">New Gallery</a>
	</div>
	<div>
		<%= galleries.length %>
		<% for(var i = 0;i < galleries.length; i++){ %>
		<a href = "/show/<%= galleries[i]._id %>"><%= galleries[i].galleryName %></a>
		<br />
		<% } %>
	</div>
</div>
</body>
</html>