<!DOCTYPE html>
<html>
<head>
	<title> New Gallery </title>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/application.css"></link>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include ../partials/header %>
	<div class = "jumbotron" style = "text-align:center">
		<form method = "post" enctype = "multipart/form-data">
			<label>Gallery Title</label>
			<br />
			<div class = "new-gallery">
				<input type = "text" name = "galleryname" class = "form-control" />
			</div>
			<br />
			<label>Gallery Description</label>
			<br />
			<div class = "new-gallery">
				<textarea name = "description" class = "form-control"></textarea>
			</div>
			<br />
			<label>Images</label>
			<br />
			<div class = "new-gallery">
				<input type = "file" name = "myfile" multiple />
			</div>
			<br />
			<input type = "submit" name = "submit" class= "btn btn-info" />
		</form>
	</div>
</body>
</html>