<!DOCTYPE html>
<html>
<head>
	<title><%= gallery.galleryName %></title>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheet/application.css"></link>
</head>
<body>
	<div>
		<div>Show Gallery</div>
		<div>
			By <%= user.fullname %>
		</div>
		<% for(var i = 0; i < gallery.images.length; i++){ %>
		<div>
			<img src = "../images/<%= gallery.images[i]%>" style = "width:300px"></img>
		</div>
		<% } %>
	</div>
</body>
</html>