<!DOCTYPE html>
<html>
<head>
	<title><%= gallery.galleryName %></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/application.css">

</head>
<body>
	<% include ../partials/header %>
	<div>
		<div class = "gallery-show-name-container"><%= gallery.galleryName %></div>
		<div style = "text-align:center">
			By <%= gallery.user %>
		</div>
		<div class = "gallery-container">
			<% for(var i = 0; i < gallery.images.length; i++){ %>
			<div class = "show-image">
				<img src = "../images/<%= gallery.images[i]%>" class = "image"></img>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html>