<!DOCTYPE html>
<html>
<head>
	<title><%= gallery.galleryName %></title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/application.css">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include ../partials/header %>
	<div>
		<div class = "gallery-show-name-container"><%= gallery.galleryName %></div>
		<div style = "text-align:center;margin:1rem">
			By <%= gallery.user %>
		</div>
		<div class = "gallery-container">
			<% for(var i = 0; i < gallery.images.length; i++){ %>
			<div class = "show-image">
				<img src = "../images/<%= gallery.images[i]%>" class = "image"></img>
			</div>
			<% } %>
		</div>
		<div style = "margin-top:2rem">
			<form method = "post">
				<div style = "margin:0 auto">
					<div class = "gallery-comment" style= "width:70%;display:inline-block">
						<input type = "textarea" name = "comment-text" class = "form-control" />
					</div>
					<div class = "gallery-comment" style = "width:30%;display:inline-block">
						<input type = "submit" name = "comment-submit" value = "Comment" class = "btn btn-default" />
					</div>
				</div>
			</form>
		</div>
		<div class = "comment-holder">
		</div>
	</div>
</body>
</html>