
a{
	text-decoration: none;
}
.login-div{
	padding-top:3rem;
	background-color:#e5e5e5;
	text-align:center;
	margin:2rem auto;
	width:40%;
	min-width: 30rem;
	height:22rem;
}
.show-image{
	text-align:center;
	padding:1rem;
	margin: 1.5rem auto;
}
.gallery-show-name-container{
	border: 3px solid black;
	text-align:center;
	width:21rem;
	margin: 0 auto;
	font-size:2rem;
}
.image{
	width:700px;
	text-align:center;
}
.gallery-container{
	background-color:#e5e5e5;
	color:#e5e5e5;
	text-align:center;
	margin:0 auto;
}