
*{
	font-family: 'Fira Sans', sans-serif;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color:black;
	text-decoration: none;
}
.gallery-link{
	text-align: center;
	margin:2rem auto;
}
.gallery-name{
	font-size:1.8rem;
}
.login-div{
	padding-top:3rem;
	background-color:#e5e5e5;
	text-align:center;
	margin:2rem auto;
	width:40%;
	min-width: 30rem;
	height:22rem;
}
.show-image{
	text-align:center;
	margin: 3rem auto;
}
.gallery-show-name-container{
	border: 3px solid black;
	text-align:center;
	width:21rem;
	margin: 0 auto;
	font-size:2rem;
}
.image{
	width:700px;
	text-align:center;
}
.index-image{
	width:400px;
	text-align:center;
}
.gallery-container{
	background-color:#e5e5e5;
	color:#e5e5e5;
	text-align:center;
	width:900px;
	padding:2rem;
	margin:0 auto;
}