<html>
<head>
<title>Login</title>
</head>
<div>
<form method = "post">
<label>Full Name</label>
<br />
<input type = "text" name = "fullname" />
<label>Email</label>
<br />
<input type = "text" name = "email" />
<label>Password</label>
<br />
<input type = "password" name = "password" />
<br />
<input type = "submit" />
</form>
</div>
</html>
