<html>
<head>
	<title>Register</title>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/application.css"></link>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
	<% include ../partials/header %>
	<div class = "login-div">
		<form method = "post">
			<label>Full Name</label>
			<br />
			<input type = "text" name = "fullname" />
			<br />
			<label>Email</label>
			<br />
			<input type = "text" name = "email" />
			<br />
			<label>Password</label>
			<br />
			<input type = "password" name = "password" />
			<br />
			<input type = "submit" value = "register" />
		</form>
	</div>
</body>
</html>
