<html>
<head>
	<title>Register</title>
	<link rel = "stylesheet" type = "text/css" href = "/stylesheet/application.css"></link>
</head>
<div>
	<form method = "post">
		<label>Full Name</label>
		<br />
		<input type = "text" name = "fullname" />
		<br />
		<label>Email</label>
		<br />
		<input type = "text" name = "email" />
		<br />
		<label>Password</label>
		<br />
		<input type = "password" name = "password" />
		<br />
		<input type = "submit" value = "register" />
	</form>
</div>
</html>
